@import "tailwindcss";
@import "lenis/dist/lenis.css";

@theme inline {
  --color-background: #1c1c1c;
  --color-foreground: #fef6e7;

  --color-primary: #f54e25;
  /* --color-border: #fff; */

  --color-muted-foreground: #a7a9be;

  --color-ring: --alpha(var(--color-muted-foreground) / 20%);
  --color-destructive: #ff4d4f;

  --color-border: #3e3e3e;

  --font-formula: var(--font-formula);
  --font-sans: var(--font-inter);

  --animate-spin-slow: spin 10s linear infinite;
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.modal-transition {
  transition: top 0.5s cubic-bezier(0.76, 0, 0.24, 1);
}
