@import "tailwindcss";

@theme inline {
  --color-background: #1c1c1c;
  --color-foreground: #fef6e7;

  --color-border: #fff;

  --font-sans: var(--font-geist);
}

@layer base {
  * {
    @apply border-border font-sans;
  }
  body {
    @apply bg-background text-foreground;
  }
}
